<br />
<h6><font color="#000080"><u>TAX INVOICE</u></font></h6>
<table>
    <tr>
        <td align="left" width="30%">INVOICE TO</td>
        <td align="left" width="70%">{{ patient_name }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">INVOICE #</td>
        <td align="left" width="70%">{{ invoice_number }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">INVOICE DATE</td>
        <td align="left" width="70%">{{ invoice_date }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">ABN</td>
        <td align="left" width="70%">{{ abn }}</td>
    </tr>
</table>
<h6><font color="#000080"><u>BILLING INFO</u></font></h6>
<table border="0">
    <thead>
    <tr>
        <th align="left" width="5%">#</th>
        <th align="left" width="30%">Item</th>
        <th align="left" width="25%">Description</th>
        {% if apply_gst %}
        <th align="left" width="15%">GST</th>
        {% endif %}
        <th align="left" width="10%">Rate</th>
        <th align="left" width="5%">Qty</th>
        <th align="left" width="10%">Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice_item in invoice_items %}
    <tr>
        <td width="5%">{{ invoice_item['id'] }}</td>
        <td width="30%">{{ invoice_item['item'] }}</td>
        <td width="25%">{{ invoice_item['description'] }}</td>
        {% if apply_gst %}
        <td width="15%">{{ invoice_item['gst'] }}</td>
        {% endif %}
        <td width="10%">{{ invoice_item['rate'] }}</td>
        <td width="5%">{{ invoice_item['qty'] }}</td>
        <td width="10%">{{ invoice_item['amount'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<h6><font color="#000080"><u>PAYMENT DETAILS</u></font></h6>
<table>
    <tr>
        <td align="left" width="30%">TOTAL</td>
        <td align="left" width="70%">A$ {{ total }}</td>
    </tr>
    {% if apply_gst %}
    <tr>
        <td align="left" width="30%">GST</td>
        <td align="left" width="70%">A$ {{ gst }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">TOTAL (incl. GST)</td>
        <td align="left" width="70%">A$ {{ total + gst }}</td>
    </tr>
    {% endif %}
    <tr>
        <td align="left" width="30%">PAYMENT DUE DATE</td>
        <td align="left" width="70%">{{ payment_due_date }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">PAYMENT METHOD</td>
        <td align="left" width="70%">{{ payment_method }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">AMOUNT PAID</td>
        <td align="left" width="70%">A$ {{ payment_paid }}</td>
    </tr>
    {% if apply_gst %}
    <tr>
        <td align="left" width="30%">BALANCE DUE</td>
        <td align="left" width="70%">A$ {{ '%0.2f' | format((total + gst - payment_paid)|float) }}</td>
    </tr>
    {% else %}
    <tr>
        <td align="left" width="30%">BALANCE DUE</td>
        <td align="left" width="70%">A$ {{ '%0.2f' | format((total - payment_paid)|float) }}</td>
    </tr>
    {% endif %}
    <tr>
        <td align="left" width="30%">PAYMENT BANK</td>
        <td align="left" width="70%">{{ payment_bank }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">PAYMENT ACCOUNT</td>
        <td align="left" width="70%">{{ payment_account }}</td>
    </tr>
</table>
{% if (total + gst - payment_paid) <= 0.00 %}
<h3><font color="green">PAID</font></h3>
{% endif %}