<h6><font color="#79a1e0">TAX INVOICE</font></h6>
<table>
    <tr>
        <td align="left" width="30%">INVOICE TO</td>
        <td align="left" width="70%">{{ patient_name }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">INVOICE #</td>
        <td align="left" width="70%">{{ invoice_number }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">INVOICE DATE</td>
        <td align="left" width="70%">{{ invoice_date }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">DUE DATE</td>
        <td align="left" width="70%">{{ due_date }}</td>
    </tr>
    <tr>
        <td align="left" width="30%">TERMS</td>
        <td align="left" width="70%">{{ terms }}</td>
    </tr>
</table>
<br/>
<table border="0">
    <thead>
    <tr>
        <th align="left" width="5%">#</th>
        <th align="left" width="30%">Item</th>
        <th align="left" width="35%">Description</th>
        <th align="left" width="5%">GST</th>
        <th align="left" width="10%">Rate</th>
        <th align="left" width="5%">Qty</th>
        <th align="left" width="10%">Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice_item in invoice_items %}
    <tr>
        <td width="5%">{{ invoice_item['id'] }}</td>
        <td width="30%">{{ invoice_item['item'] }}</td>
        <td width="35%">{{ invoice_item['description'] }}</td>
        <td width="5%">{{ invoice_item['gst'] }}</td>
        <td width="10%">{{ invoice_item['rate'] }}</td>
        <td width="5%">{{ invoice_item['qty'] }}</td>
        <td width="10%">{{ '%0.2f' |format(invoice_item['rate'] * invoice_item['qty']|float) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>